<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="icon" href="/img/icon.png">
	<title>About</title>
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>This site is an integration of darksky.net and mapbox api's, and is built by Siddhant Gandhi.</p>
		<img  class="portrait" src="/img/newpic.png">
	</div>
	{{>footer}}
</body>
</html>