<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="icon" href="/img/icon.png">
	<title>Help</title>
</head>
<body>
	<div class="main-content">
		{{>header}}
		<p>Some helpful text will be uploaded here soon :)</p>
	</div>
	{{>footer}}
</body>
</html>